{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "globals": {
    "console": "readonly",
    "fetch": "readonly",
    "L": "readonly",
    "mapboxgl": "readonly",
    "maplibregl": "readonly",
    "ol": "readonly"
  },
  "rules": {
    "camelcase": ["error"],
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "no-trailing-spaces": ["error"],
    "no-use-before-define": ["error", { "allowNamedExports": true }],
    "semi": ["error", "always", { "omitLastInOneLineBlock": true }]
  }
}