html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
  color: #E2E2E2;
}

header {
  padding: 5rem;
  border-bottom: 1px solid red;
  background-color: #E2E2E2;
  color: #1A1A1A;
  text-align: center;
}

h1 {
  font-weight: 300;
}

h2 {
  text-align: center;
  font-weight: 800;
}

.dossier-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dossier-card {
  position: relative;
  padding-left: 2rem;
}

.dossier-card-link {
  display: flex;
  /* border: 1px solid #E2E2E2; */
  padding: 3px;
  text-decoration: none;
}

.dossier-card-name {
  display: block;
  transform: rotate(180deg);
  line-height: 2rem;
  border-left: 0.5px solid red;
  text-align: right;
  color: red;
  writing-mode: vertical-rl;
}

.dossier-card-picture-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
}

.dossier-card-background-picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  object-fit: cover;
  filter: grayscale(100%) blur(8px) brightness(50%);
}

.dossier-card-picture {
  width: 300px;
  height: 300px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.5s linear;
}

.dossier-card-link:hover .dossier-card-picture {
  width: 300px;
  height: 300px;
  object-fit: contain;
  filter: grayscale(0%);
}

.unknown-name .dossier-card-name {
  text-decoration: line-through;
}

.unknown-picture .dossier-card-picture {
  filter: grayscale(100%) brightness(20%) contrast(40%);
  position: relative;
  transition: filter 0s linear;
}

.unknown-picture:hover .dossier-card-picture {
  filter: grayscale(100%) brightness(20%) contrast(40%);
}

.unknown-picture .dossier-card-link::after {
  content: '?';
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 306px;
  opacity: .1;
  font-size: 150px;
  line-height: 306px;
  color: white;
  text-align: center;
}
